# Python
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/routers/__pycache__/
backend/app/models/__pycache__/
*.pyc
*.pyo
.env

# Node
frontend/node_modules/
frontend/dist/

# System
.DS_Store
*.log
